.DT
General Rules
$MUDNAME$ concepts help
General Rules

.SH The Rules

.SP 5 5
The rules of $MUDNAME$ exist to make $MUDNAME$ a fair and fun
environment for everyone.
.EP

.SP 5 5
It is every player's responsibility to be aware of the rules.
Ignorance of the rules will not be considered an excuse for breaking
them.  If you are not sure about any of the rules, ask a creator for
advice.
.EP

.SP 5 5
The spirit of the rules is important on $MUDNAME$ -- more important
than the letter of the rules!  If you find a way to circumvent a rule,
to technically not break it, while still going against the spirit of
the rule, you are still judged to have broken the rule.  Similarly, if
you engage in activities that are unfair or which may spoil someone
else's enjoyment of the mud, you will find you have run afoul of the
rules regardless of the 'letter of the law'.
.EP

.SH Passwords

.SP 5 5
Passwords are your responsibility.  You will be held accountable for
all the actions of your player characters no matter who is in control
of them, so make sure your password is kept secret.  Allowing other
people to log in as your character (or logging in using someone elses
character) is strictly forbidden.

If you forget your password an Administrator will only reset it and send
the new one to the email address listed in your finger information.  If
there is no valid email address there your password cannot be reset.
.EP

.SH Multiplaying

.SP 5 5
You may have more than one character, but they must not be logged in
at the same time.  Having more than one character logged in to
$MUDNAME$ at the same time is referred to as multiplaying and is
not allowed.  You may not use one of your characters to assist
the other character in any way.  This includes mailing items
between your characters.  The penalty for multiplaying can be
banishment.
.EP

.SH Robot Scripts

.SP 5 5
The use of robot scripts is not allowed on $MUDNAME$.  As well as using
scripting clients, this includes using aliases and triggers to create
repetitive loops of commands.  Basically, anything that lets you perform
a repetitive action without requiring you to be at your computer will
be considered a robot script.  The penalty for using a robot script
file is having all your skills reduced to zero.
.EP

.SH Use of Triggers

.SP 5 5
Triggers may be used if they do not affect game play.  Triggers that
would give a player using them an advantage over another player who
does not use them are not permitted.  Examples of triggers that are
not allowed are ones which would allow the player to automatically
follow, lose, or attack opponents without actually typing the commands
to do so.  Triggers used for doing things like automatically greeting
people are allowed.
.EP

.SH Bug Abuse

.SP 5 5
Occasionally, unintentionally beneficial bugs arise in the game code. 
These bugs should be reported and should not be taken advantage of. 
If you suspect that a game feature is allowing you to advance your
character too quickly by allowing you to gain large amounts of
experience points, skills, money or equipment, you should report it
directly to a creator at the first available opportunity.  This
includes bugs that allow you to generate large numbers of
non-player characters.  The penalty for abusing bugs is often
banishment.
.EP

.SH Quest Solutions

.SP 5 5
Giving out quest solutions in whole or part is cheating.  Information
related to quests must not be discussed over chat channels.  If a player is
stuck while doing a quest assisting with a hint is acceptable but giving
specifics on how to solve the quest will be punished severely.  For further
information see 'help quests'.
.EP

.SH Losing your link

.SP 5 5
Intentionally losing your link to avoid death in combat, or to prevent
similar undesirable game features, is not allowed.  Players who do this
will be punished accordingly.
.EP

.SH Language

.SP 5 5
Profane language over public channels is not allowed.  What consists
profane language is at the discretion of the creators.  If you find
yourself disagreeing with what is considered profane language, feel
free to mail admin with your complaint, though it is rare that
such a decision is reversed.
.EP

.SH Creator/Player Interaction

.SP 5 5
You are required to be courteous to, and cooperative with, creators --
they are not paid employees but volunteers here to enjoy themselves
just as much as you are.  Lying to a creator will be punished
severely.

It is against the rules to receive money, items, experience, skill
or stat adjustments from creators unless this is to remedy the
effects of a game error.  You must report such activities to an
admin.  The exception to this rule are items which are classed as
'Liaison Toys'.
.EP

.SH Liaison/Player Interaction

.SP 5 5
While liaisons are here to help, they are often very busy, and
if a liaisons cannot immediately handle your request then wait.
If a liaison tells you that they cannot help with a certain
problem, do not push them.
.EP

.SH Harassment

.SP 5 5
Harassment of any kind (including sexual and racial) is grounds for
immediate banishment.  Do not verbally abuse other players.  Do not
attempt to interfere with another player's access to the game.  Do
not spread malicious rumours or lies about other players.
.EP

.SH Punishments

.SP 5 5
Punishments are many and varied.  Basically, if you are in violation
of a rule, you can attract any punishment deemed neccesary.  Whining
or complaining about your punishment can attract further punishment. 
These rules are in place to protect the players who do not break
the rules, and the creators who work long hours to provide this
entertainment to you.  The only options you have if you feel a
punishment is overly harsh or un-deserved is to mail the lords of
liaison, or if this fails, to mail the admin with your complaint. 
Reversal of an existing punishment is, however, rare, especially at
admin level.
.EP

.SH Rights

.SP 5 5
For your rights, please see the "help rights" file.  These rights
are considered inviolate, and are enforced at the admin level.
.EP

.SH See Also
.SP 5 5
harassment, multiplechars, quests, rights
.EP
